<tr>
  <td><%= device.branch.name %></td>
  <td><%= device.plant.name %></td>
  <td><%= device.system.name %></td>
  <td><%= device.provider.company_name %></td>
  <td><%= device.serial_number %></td>
  <td><%= device.name %></td>
  <td><%= device.brand_model %></td>
  <td><%= device.admission_date.to_s(:year_and_month) %></td>
  <td><%= device.state %></td>
</tr>
