<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= t('devices') %></h2>
    <ol class="breadcrumb">
      <%= render 'common/breadcrumb_home' %>
      <li class="active">
        <strong><%= t('devices') %></strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t('list_of_devices') %></h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <table id="table-devices" class="table table-striped table-bordered table-hover dataTables-devices"  cellspacing="0" width="100%">
            <thead>
              <tr>
                <th><%= t('name') %></th>
                <th><%= t('branch_name') %></th>
                <th><%= t('plant_name') %></th>
                <th><%= t('system_name') %></th>
                <th><%= t('provider_name') %></th>
                <th><%= t('serial_number') %></th>
                <th><%= t('brand_model') %></th>
                <th><%= t('admission_date') %></th>
                <th><%= t('state') %></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th><%= t('name') %></th>
                <th><%= t('branch_name') %></th>
                <th><%= t('plant_name') %></th>
                <th><%= t('system_name') %></th>
                <th><%= t('provider_name') %></th>
                <th><%= t('serial_number') %></th>
                <th><%= t('brand_model') %></th>
                <th><%= t('admission_date') %></th>
                <th><%= t('state') %></th>
              </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>
  </div>

</div>

<% content_for :javascript do %>

  <script type="text/javascript">

    $(function() {
      $('#table-devices').DataTable({
        pageLength: 25,
        responsive: true,
        "language": lang_data_tables,

        "ajax": {
          "url": "<%= url_for :controller => params[:controller], :action => params[:action] %>"+".json"
        },

        "columns": [
            {
              data: "link",
              render: function(data, type, row){
                return '<a href="'+data.url+'">'+data.name+'</a>';
              }
            },
            { "data": "branch" },
            { "data": "plant" },
            { "data": "system" },
            { "data": "provider" },
            { "data": "serial_number" },
            { "data": "brand_model" },
            { "data": "admission_date" },
            { "data": "state" }
        ],

        dom: '<"html5buttons"B>lTfgitp',

        buttons: [
          {extend: 'csv',
          text: "<i class='fa fa-file-text-o'></i> CSV"
          },

          {extend: 'excel',
          text: "<i class='fa fa-file-excel-o'></i> Excel",
          title: "<%= t('devices_of') + ' ' + @company.try(:company_name)%>"
          },

          {extend: 'pdf',
          text: "<i class='fa fa-file-pdf-o'></i> PDF",
          title: "<%= t('devices_of') + ' ' + @company.try(:company_name)%>",
          orientation: 'landscape'
          },

          {extend: 'print',
          text: "<i class='fa fa-print'></i>",
          title: "<%= t('devices_of') + ' ' + @company.try(:company_name)%>",
          // customize: function (win){
          //   $(win.document.body).addClass('white-bg');
          //   $(win.document.body).css('font-size', '10px');
          //
          //   $(win.document.body).find('table')
          //   .addClass('compact')
          //   .css('font-size', 'inherit');
          //   }
          }
        ]
      });
    });
  </script>
<% end %>
<style media="screen">
  /*#table-devices td {
    cursor: pointer;
  }*/
</style>
