<%= form_for([@company, @device_type], remote: true, html: {class: "form"}) do |f| %>
  <% if @device_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device_type.errors.count, "error") %> prohibited this device_type from being saved:</h2>

      <ul>
      <% @device_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label t('name') %><br />
    <%= f.text_field :name, autofocus: true, id: "name", class: "form-control" %>
  </div>

    <%= f.submit t('update'), "data-disable-with": "...", class: "btn btn-primary" %>
<% end %>
