<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name">PCM</h1>

    </div>
    <div class="notice">
      <%= notice %>
    </div>
    <div class="alert">
      <%= alert %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5><%= t('.select_company') %> <small><%= t('.select_company_text') %></small></h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <% @company_users.each do |company_user| %>
          <div class="col-lg-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <%= link_to company_user.company.try(:fantasy_name) ,
                            home_index_company_path(company_user.company),
                            class: "btn btn-block btn-outline btn-primary",
                            rol: "button"
                            %>
              </div>
              <div class="panel-body">
                <p><%= company_user.company.try(:company_name) %></p>
                <p><%= company_user.company.try(:rut) %></p>
                <p><%= company_user.company.try(:address) %></p>
                <p><%= company_user.company.try(:mail) %></p>
                <p><%= company_user.company.try(:url) %></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<%= render 'layouts/footer' %>
