<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name">PCM</h1>

    </div>
    <div class="notice">
      <%= notice %>
    </div>
    <div class="alert">
      <%= alert %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="ibox">
      <div class="ibox-title">
        <div class="container text-center">
          <h3><%= t('.select_company') %> <h4><%= t('.select_company_text') %></h4></h3>
        </div>
      </div>
      <div class="ibox-content">
        <div class="container">
        <div class="row">
          <%= render @companies %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<%= render 'layouts/footer' %>
