<%= form_for([@company, @device_type, @master_maintenance_plan], remote: true, html: {class: "form"}) do |f| %>
  <% if @master_maintenance_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@master_maintenance_plan.errors.count, "error") %> prohibited this master_maintenance_plan from being saved:</h2>

      <ul>
      <% @master_maintenance_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label t('subject') %>
    <%= f.text_field :subject, autofocus: true, id: "subject", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t('frecuency') %>
    <div class="row">
      <div class="col-xs-3">
        <%= f.text_field :frecuency, id: "frecuency", class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label t('description') %>
    <%= f.text_area :description, id: "description", class: "form-control" %>
  </div>

  <div>
    <label>
      <%= f.check_box :lubrication, id: "lubrication", class: "i-checks" %>
      <%= t('lubrication') %>
    </label>
    <%= f.submit "data-disable-with": "...", class: "btn btn-primary pull-right"%>
  </div>
<% end %>
