<% @tasks.each do |task| %>

  <div class="timeline-item">
    <div class="row">
      <div class="col-xs-3 date">
        <i class="<%= task.task_type.icon %>"></i>
        <%= task.sequence %>
      </div>
      <div class="col-xs-8 content no-top-border">
        <p class="m-b-xs">
          <strong>
            <%= task.description %>
          </strong>
        </p>
      </div>
      <div class="col-xs-1 content no-top-border">
        <%= link_to(
          "<i class='fa fa-edit'></i>".html_safe,
          edit_company_master_maintenance_plan_task_path(
            @company,
            task.master_maintenance_plan,
            task
          ),
          class: "btn btn-default btn-md",
          remote: true
        )%>
        <%= link_to(
          "<i class='fa fa-trash-o'></i>".html_safe,
          company_master_maintenance_plan_task_path(
            @company,
            task.master_maintenance_plan,
            task
          ),
          id: "delete-task",
          class: "btn btn-default btn-md",
          remote: true
        )%>
      </div>
    </div>
  </div>

<% end %>
