<% content_for :title, "PCM - #{t('master_maintenance_plan')}" %>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= t('master_plan_details') %></h2>
    <ol class="breadcrumb">
      <%= render 'common/breadcrumb_home' %>
      <%= render 'common/breadcrumb_device_type_index' %>
      <li class="active">
        <strong><%= t('master_plan_details') %></strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div><!-- END BreadCrumb -->
<div class="row">
  <div class="col-lg-12">  <!-- Side Left -->
    <div class="wrapper wrapper-content animated fadeInUp">
      <div class="ibox">
        <div class="ibox-content">
          <div id="title" class="row"> <!-- title -->
            <div class="col-lg-12">
              <div class="m-b-md">
                <%= link_to(
                  "<i class='fa fa-trash-o'></i>".html_safe,
                  company_device_type_master_maintenance_plan_path(
                    @company,
                    @master_maintenance_plan.device_type,
                    @master_maintenance_plan
                  ),
                  remote: true,
                  id: "delete-master-maintenance-plan",
                  class: "btn btn-danger pull-right"
                )%>
                <%= link_to(
                  "<i class='fa fa-edit'></i>  #{t('master_plan_edit')}".html_safe,
                  edit_company_device_type_master_maintenance_plan_path(
                    @company,
                    @master_maintenance_plan.device_type,
                    @master_maintenance_plan
                  ),
                  class: "btn btn-primary pull-right",
                  remote: true
                )%>
                <h2 id="subject"><%= @master_maintenance_plan.subject %></h2>
              </div>
                <dl class="dl-horizontal">
                  <dt><%= t('device_type') %>:</dt>
                  <dd><span class="label label-primary"><%= @master_maintenance_plan.device_type.name %></span></dd>
                </dl>
            </div>
          </div> <!-- end title -->
              <div class="row"> <!-- general data -->
                <div class="ibox-title">
                  <h4><%= t('general_data') %></h4>
                </div>
                <div class="ibox-content">
                  <div class="row">
                    <div class="col-lg-5">
                      <dl class="dl-horizontal">
                        <dt><%= t('lubrication') %>:</dt>
                        <dd id="lubrication">
                          <%= @master_maintenance_plan.lubrication ? 'Si' : 'No' %>
                        </dd>
                      </dl>
                    </div>
                    <div class="col-lg-5">
                      <dl class="dl-horizontal">
                        <dt><%= t('frecuency') %>:</dt>
                        <dd id="frecuency"><%= @master_maintenance_plan.frecuency%></dd>
                      </dl>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <dl class="dl-horizontal">
                        <dt><%= t('description') %>:</dt>
                        <dd>
                          <div id="description" class="well">
                            <%= @master_maintenance_plan.description %>
                          </div>
                        </dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div> <!-- end general data -->
              <div class="row"> <!-- tasks -->
                <div class="ibox-title">
                  <%= link_to(
                    "<i class='fa fa-plus-square'></i> #{t('task_new')}".html_safe,
                    new_company_master_maintenance_plan_task_path(@company, @master_maintenance_plan),
                    class: "btn btn-primary pull-right",
                    remote: true
                  )%>
                  <h4><%= t('tasks') %></h4>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div id="tasks" class="ibox-content inspinia-timeline">
                      <%= render'task' %>
                    </div>
                  </div>
                </div>
              </div> <!-- end tasks -->
            </div> <!-- end principal ibox content -->
          </div> <!-- end principal ibox -->
        </div> <!--class="wrapper wrapper-content animated fadeInUp" -->
      </div>  <!-- end Side Left -->



    <!-- <div class="col-lg-6">
    <div class="wrapper wrapper-content animated fadeInUp">
    <div class="ibox">
    <div class="ibox-content">
    <div class="row">
    <div class="col-lg-12">
  </div>
</div>
</div>
</div>
</div>
</div>  -->

<!-- modal -->
<%= render 'common/modal' %>
<!-- end modal -->

<% content_for :javascript do %>

  <script type="text/javascript">

    $(function() {
      // Sweet Alert
      // click delete-master-maintenance-plan
      $('#title').on("click", '#delete-master-maintenance-plan', function (event) {
        event.preventDefault();
        var link = $(this).context.pathname;

        swal(
          sweet_alert_warning,
          function () {
          var url = link;
          $.ajax({
            method: "DELETE",
            dataType: "script",
            url: url
          });
          swal("Deleted!", "Your imaginary file has been deleted.", "success");
        }); // end swal
      }); // end click delete-master-maintenance-plan

      // click delete-task
      $('#tasks').on("click", '#delete-task', function (event) {
        event.preventDefault();
        var link = $(this).context.pathname;

        swal(
          sweet_alert_warning,
          function () {
          var url = link;
          $.ajax({
            method: "DELETE",
            dataType: "script",
            url: url
          });
          swal("Deleted!", "Your imaginary file has been deleted.", "success");
        }); // end swal
      }); // end click delete-task

    });

  </script>

<% end %>
