<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span>
              <img alt="image" class="img-circle" src="<%= image_url 'user_unknown_small.gif' %>"/>
          </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold"><%= current_user.try(:name) %></strong>
              </span>
              <span class="text-muted text-xs block">
                <%= current_user.position_by_company(@company) %>
              </span>
              <span class="text-muted text-xs block">
                <%= @company.try(:fantasy_name) %> <b class="caret"></b>
              </span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="#"><%= t('devise.shared.links.profile') %></a></li>
            <li><%= link_to t('devise.shared.links.change_company'), companies_path %></li>
            <li class="divider"></li>
            <li>
              <a href="<%= destroy_user_session_path %>" data-method="delete">
                <%= t('devise.shared.links.sign_out') %>
              </a>
            </li>
          </ul>
        </div>
        <div class="logo-element">
          PCM
        </div>
      </li> <!-- End nav header -->
      <!-- Dashboard menu -->
      <li class="<%= is_active_controller('dashboards') %>">
        <%= link_to(
          "<i class='fa fa-th-large'></i> <span class='nav-label'> Dashboard".html_safe,
          company_dashboards_index_path
        )%>
      </li>
      <!-- end Dashboard menu -->
      <!-- devices menu -->
      <li class="<%= is_active_main_device %>">
        <a href="">
          <i class="fa fa-gears"></i> <span class="nav-label"><%= t('.devices') %></span>
          <span class="fa arrow"></span>
        </a>
        <!-- Second Level of Devices -->
        <ul class="nav nav-second-level collapse <%= is_active_main_device %>">
          <!-- list_of_devices -->
          <li class="<%= is_active_main_device_sub_device %>">
            <%= link_to t('.list_of_devices'), company_devices_path %>
          </li>
          <!-- list of type of devices -->
          <li class="<%= is_active_main_device_sub_type_device %>">
            <%= link_to t('type_of_devices'), company_device_types_path %>
          </li>
        </ul>
      </li>
      <!-- end devices menu -->
      <!-- Maintenances menu -->
      <li class="<%= is_active_controller('maintenances') %>">
        <a href="">
          <i class="fa fa-edit"></i> <span class="nav-label"><%= t('.maintenances') %></span>
          <span class="fa arrow"></span>
        </a>

        <ul class="nav nav-second-level collapse <%= is_active_controller('maintenances') %>">
          <li class="<%= nil %>">
            <%= link_to t('.list_of_maintenances'), company_devices_path %>
          </li>
          <li class="<%= nil %>">
            <%= link_to t('.list_of_maintenances'), company_devices_path %>
          </li>
        </ul>
      </li>
      <!-- end maitenances menu -->
    </ul>
  </div>
</nav>
